<div class="user-info-field">
	<mat-icon class="user-info-field__mat-icon"><i class="far fa-calendar-alt"></i></mat-icon>
	<mat-form-field ngModelGroup="birthdate" class="user-info-field__form-field">
		<input
		[min]="minDate"
		[max]="maxDate"
		matInput
		name="birthdate"
		[matDatepicker]="picker"
		[(ngModel)]="value"
		placeholder="Choose a date">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
	</mat-form-field>
</div>
