.user-info-field {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.user-info-field__mat-icon {
	margin-right: 16px;
}

.short-info {
	margin-left: 20px;
}

.last-field {
	margin-bottom: 9px;
}
