<div class="short-info">
	<div class="user-info-field">
		<mat-icon class="user-info-field__mat-icon"><i class="fas fa-user"></i></mat-icon>
		<h4>{{ this.shortInfo['firstName'] }} {{ this.shortInfo['lastName'] }}</h4>
		<h5>({{ this.shortInfo['login'] }})</h5>
	</div>
	<div class="user-info-field">
		<mat-icon class="user-info-field__mat-icon"><i class="fas fa-map-marker-alt"></i></mat-icon>
		<h5>Location: </h5>
	</div>
	<div class="user-info-field">
		<mat-icon class="user-info-field__mat-icon"><i class="fas fa-star"></i></mat-icon>
		<h5>Rating: {{ this.shortInfo['rating'] }}</h5>
	</div>
	<div>
		<div>
			<div class="user-info-field">
				<mat-icon class="user-info-field__mat-icon"><i class="fab fa-slack-hash"></i></mat-icon>
				<h5>Interests: </h5>
			</div>
			<app-user-interests></app-user-interests>
		</div>
	</div>
</div>
