<div class="user-info-field">
	<mat-icon class="user-info-field__mat-icon"><i class="fas fa-user"></i></mat-icon>
	<div class="input-field">
		<mat-form-field class="user-info-field__form-field">
			<input matInput
			placeholder="Login"
			id="disabled"
			type="text"
			class="validate"
			name="login"
			#login="ngModel"
			[(ngModel)]="this.authorizationService.user.login">
		</mat-form-field>
		<mat-error *ngIf="!this.authorizationService.checkPattern('loginPattern', 'login')">
			<div>
				{{ this.authorizationService.getErrorMessage("login", 'login') }}
			</div>
		</mat-error>
	</div>
</div>
<div class="user-info-field">
	<mat-icon class="user-info-field__mat-icon"><i class="fas fa-at"></i></mat-icon>
	<div class="input-field">
		<mat-form-field class="user-info-field__form-field">
			<input matInput
			placeholder="Email"
			id="email"
			type="text"
			class="validate"
			name="email"
			#Email="ngModel"
			[(ngModel)]="this.authorizationService.user.email">
		</mat-form-field>
		<mat-error *ngIf="!this.authorizationService.checkPattern('emailPattern', 'email')">
			<div>
				{{ this.authorizationService.getErrorMessage("email", 'email') }}
			</div>
		</mat-error>
	</div>
</div>
<div class="user-info-field">
	<mat-icon class="user-info-field__mat-icon"><i class="fas fa-key"></i></mat-icon>
	<div class="input-field">
		<mat-form-field class="user-info-field__form-field">
			<input matInput
			placeholder="Password"
			id="password"
			type="password"
			class="validate"
			name="password"
			#Password="ngModel"
			[(ngModel)]="this.authorizationService.user.password">
		</mat-form-field>
		<mat-error *ngIf="!this.authorizationService.checkPattern('passwordPattern', 'password')">
			<div>
				{{ this.authorizationService.getErrorMessage("password", 'password') }}
			</div>
		</mat-error>
	</div>
</div>
