.user-info-field {
	color: rgba(0,0,0,0.54);
	display: flex;
	width: 95%;
	justify-content: flex-start;
	align-items: center;
}
.user-info-field__mat-icon {
	margin-right: 16px;
}
.user-info-field__form-field {
	width: 100%;
}

input[type=text]:not(.browser-default) {
	height: 35px;
	margin: 0px;
	border-bottom: none;
	box-shadow: none;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: none;
	box-shadow: none;
	margin-top: 8px;
}

input[type=password]:not(.browser-default) {
	height: 35px;
	margin: 0px;
	border-bottom: none;
	box-shadow: none;
}

input[type=password]:focus:not([readonly]) {
	border-bottom: none;
	box-shadow: none;
	margin-top: 8px;
}

.input-field {
	width: 95%;
	/* height: 100%; */
}

.input-field > mat-error {
	font-size: 12px;
}
.input-field > input {
	margin-bottom: 0px;
}

.input-field > mat-error > div {
	height: 8px;
}
