<div class="row">
    <form class="col s12" #LoginForm="ngForm" (ngSubmit)="OnSubmit(LoginForm)">
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" type="text" class="validate" name="Login" #Login="ngModel" [(ngModel)]="user.Login">
                <label for="first_name">Login</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="Password" #Password="ngModel" [(ngModel)]="user.Password">
                <label for="password">Password</label>
            </div>
        </div>
        <div id="buttons" class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" name="action">Forgot password
                <i class="material-icons right">help_outline</i>
            </button>
        </div>
    </form>
</div>
