<div class="row">
	<form class="col s12" #LoginForm="ngForm" (ngSubmit)="OnSubmit(LoginForm)">
		<div class="row">
			<div class="input-field col s12">
				<input
				matInput
				id="first_name"
				type="text"
				class="validate"
				name="login"
				#Login="ngModel"
				[(ngModel)]="user.login">
				<mat-error *ngIf="!checkPattern('loginPattern', 'login')">
					<div>
						{{ getErrorMessage("login", 'login') }}
					</div>
				</mat-error>
				<label for="first_name">Login</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password"
				type="password"
				class="validate"
				name="password"
				#Password="ngModel"
				[(ngModel)]="user.password">
				<mat-error *ngIf="!checkPattern('passwordPattern', 'password')">
					<div>
						{{ getErrorMessage("password", 'password') }}
					</div>
				</mat-error>
				<label for="password">Password</label>
			</div>
		</div>
		<div id="buttons" class="row">
			<button class="btn waves-effect waves-light"
				type="submit"
				name="Submit">Login
				<i class="material-icons right">send</i>
			</button>
			<mat-error *ngIf="error">
				<div>
					{{ error }}
				</div>
			</mat-error>
		</div>
	</form>
	<button class="btn waves-effect waves-light"
		name="Forgot"
		(click)="postTest()"> Forgot password
		<i class="material-icons right">help_outline</i>
	</button>
</div>
