<mat-toolbar color="accent" class="user-info-toolbar">
	<div class="container">
		<h3 class="user-info-title">Your info</h3>
	</div>
</mat-toolbar>
<form #AddUserInfoForm="ngForm" (ngSubmit)="onSubmit(AddUserInfoForm)">
	<div class="container user-info-container">
		<app-profile-photo></app-profile-photo>
		<app-gender></app-gender>
		<app-preferences></app-preferences>
		<app-birthdate></app-birthdate>
		<app-interests></app-interests>
		<app-biography></app-biography>
	</div>
	<mat-divider></mat-divider>
	<div class="row under-divider">
		<button mat-raised-button color="accent" type="submit" name="submit">Save</button>
		<mat-error *ngIf="error">
			<div>
				{{ error }}
			</div>
		</mat-error>
	</div>
</form>
<!-- <pre>{{ AddUserInfoForm.value | json }}</pre> -->
