body {
	font-family: Roboto, sans-serif;
}

.user-info-container {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.user-info-title {
	font-size: 24px;
	font-weight: 300;
}

.user-info-toolbar {
	box-shadow: 0px 1px 0.1in 0px rgba(0,0,0,0.75);
	padding: 0;
}

.user-info-field {
	color: rgba(0,0,0,0.54);
	display: flex;
	width: 95%;
	justify-content: flex-start;
	align-items: center;
}
.user-info-field__mat-icon {
	margin-right: 16px;
}
.user-info-field__form-field {
	width: 100%;
}

.under-divider {
	display: flex;
	align-items: center;
	margin-top: 25px;
}

.under-divider > mat-error {
	margin-left: 16px;
}
