<div class="upload-img-wrapper">
<div
	class="upload-img-container"
	[ngStyle]="{'border': imageUrl == 'assets/upload.svg' ? '5px dashed rgba(128, 128, 128, 0.1)' : 'none'}">
	<img *ngIf="imageUrl != 'assets/upload.svg'" [src]="imageUrl" class="upload-img__user-img">
	<img *ngIf="imageUrl == 'assets/upload.svg'" [src]="imageUrl" class="upload-img">
</div>
<!-- <div
	class="upload-img-container"
	[ngStyle]="{'border': imageUrl == 'assets/upload.svg' ? '5px dashed rgba(128, 128, 128, 0.1)' : 'none'}">
	<img *ngIf="imageUrl != 'assets/upload.svg'" [src]="imageUrl" class="upload-img__user-img">
	<img *ngIf="imageUrl == 'assets/upload.svg'" [src]="imageUrl" class="upload-img">
</div>
<div
	class="upload-img-container"
	[ngStyle]="{'border': imageUrl == 'assets/upload.svg' ? '5px dashed rgba(128, 128, 128, 0.1)' : 'none'}">
	<img *ngIf="imageUrl != 'assets/upload.svg'" [src]="imageUrl" class="upload-img__user-img">
	<img *ngIf="imageUrl == 'assets/upload.svg'" [src]="imageUrl" class="upload-img">
</div>
<div
	class="upload-img-container"
	[ngStyle]="{'border': imageUrl == 'assets/upload.svg' ? '5px dashed rgba(128, 128, 128, 0.1)' : 'none'}">
	<img *ngIf="imageUrl != 'assets/upload.svg'" [src]="imageUrl" class="upload-img__user-img">
	<img *ngIf="imageUrl == 'assets/upload.svg'" [src]="imageUrl" class="upload-img">
</div> -->
</div>
