.user-info-container {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

input:not([type]) {
	border-bottom: none;
	height: 15px;
	margin: 0;
}
input:not([type]):focus:not([readonly]) {
	border-bottom: none;
	box-shadow: none;
}

input[type=text]:not(.browser-default) {
	border-bottom: none;
	box-shadow: none;
}
