.user-info-field {
	color: rgba(0,0,0,0.54);
	display: flex;
	width: 30%;
	justify-content: flex-start;
	align-items: center;
}
.user-info-field__mat-icon {
	margin-right: 16px;
}

.error-div {
	margin-top: -20px;
	font-size: 12px;
}

.input-field {
	width: 100%;
}

.box {
	margin-top: 70px;
}
