<!-- <mat-sidenav-container *ngIf="!isUserLoggedIn()"
	(window:resize)="onResizez($event)">
	<mat-sidenav class="sidenav" #sidenav>
		<ul class="sidenav">
			<li><a mat-button routerLink="/" class="sidenav__button">Home</a></li>
			<li><a mat-button routerLink="login" class="sidenav__button">Login</a></li>
			<li><a mat-button routerLink="signup" class="sidenav__button">Signup</a></li>
		</ul>
	</mat-sidenav>
	<mat-sidenav-content>
		<nav>
			<div class="container">
				<a class="brand-logo">Matcha</a>
				<a *ngIf="windowWidth <= 992"
				(click)="sidenav.toggle()"
				mat-button
				routerLink=".">
					<i class="material-icons humburger-icon">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li><a routerLink="/">Home</a></li>
					<li><a routerLink="login">Login</a></li>
					<li><a routerLink="signup">Register</a></li>
				</ul>
			</div>
		</nav>
		<div class="section  cyan lighten-4" style="height: 65em">
			<div class="row container">
				<router-outlet></router-outlet>
			</div>
		</div>
		<app-footer></app-footer>
	</mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <router-outlet *ngIf="isUserLoggedIn()"></router-outlet> -->
<router-outlet></router-outlet>
