<mat-sidenav-container
	class="drawer-container"
	(backdropClick)="close('backdrop')">
	<mat-sidenav
		class="drawer-container__sidenav"
		#sidenav
		(keydown.escape)="close('escape')"
		disableClose>
		<div class="container">
		<button
			mat-icon-button
			(click)="close('toggle button')">
			<mat-icon>close</mat-icon>
		</button>
		<p class="slider-label">Age minimum ({{ searchParams.ageMin }}):</p>
		<mat-slider
			thumbLabel
			[displayWith]="ageMinLabel"
			tickInterval="1"
			min="18"
			max="99"
			[(ngModel)]="searchParams.ageMin"></mat-slider>
		<p class="slider-label">Age maximum ({{ searchParams.ageMax }}):</p>
		<mat-slider
			thumbLabel
			[displayWith]="ageMaxLabel"
			tickInterval="1"
			min="18"
			max="99"
			[(ngModel)]="searchParams.ageMax"></mat-slider>
		<p class="slider-label">Rating ({{ searchParams.rating }}):</p>
		<mat-slider
			thumbLabel
			[displayWith]="ratingLabel"
			tickInterval="1"
			min="0"
			max="1000"
			[(ngModel)]="searchParams.rating"></mat-slider>
		<p class="slider-label">Distance ({{ searchParams.distance }} km):</p>
		<mat-slider
			thumbLabel
			[displayWith]="distanceLabel"
			tickInterval="1"
			min="0"
			max="100"
			[(ngModel)]="searchParams.distance"></mat-slider>

			<div class="user-info-field">
				<mat-form-field class="user-info-field__form-field">
					<mat-chip-list
						#chipList>
						<mat-chip
						*ngFor="let tag of tags"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="remove(tag)">
							{{tag}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input
						matInput
						placeholder="Interests"
						#tagInput
						[formControl]="tagCtrl"
						[matAutocomplete]="auto"
						[matChipInputFor]="chipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="add($event)"
						/>
					</mat-chip-list>
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
						<mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
							{{ tag }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>

		</div>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="container">
			<button
				mat-icon-button
				(click)="sidenav.open()">
				<mat-icon>tune</mat-icon>
			</button>

			<div class="card-container">
				<mat-card
					*ngFor="let user of sortedUsers"
					class="card-container__mat-card">
					<mat-card-header>
						<div mat-card-avatar></div>
						<mat-card-title>
							{{ user.first_name }} {{ user.last_name }}
						</mat-card-title>
					</mat-card-header>
					<div class="card-container__profile-picture--container">
						<img
							mat-card-image
							class="card-container__profile-picture"
							src="{{ 'http://localhost:8100/' + user.profile_photo }}">
					</div>
					<mat-card-actions>
						<button mat-raised-button [routerLink]="[user.id]">View Profile</button>
					</mat-card-actions>
				</mat-card>
			</div>

		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<!--
	age: input only digits
	age: input only digits
	rating: slider
	distance: slider
	tags: input -->
