.drawer-container {
	height: 88.5vh;
}
.drawer-container__sidenav {
	width: 100%;
	background-color: #E0F7FA;
}

button:focus {
	background-color: transparent;
}

.slider-label {
	margin: 8px;
}

mat-slider {
	width: 100%;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
}
.card-container__mat-card {
	width: 300px;
	margin: 0 10px 10px 0;
}
.card-container__profile-picture {
	width: 250px;
	height: 250px;
}
