<div class="container" (window:resize)="onResizez($event)" *ngIf="windowWidth > 599">
	<mat-grid-list cols="3">
		<mat-grid-tile><app-avatar-photo></app-avatar-photo></mat-grid-tile>
		<mat-grid-tile colspan="2" class="info-block"><app-short-info class="info-block-content"></app-short-info></mat-grid-tile>
		<mat-grid-tile class="info-block"><app-more-info class="info-block-content"></app-more-info></mat-grid-tile>
		<mat-grid-tile colspan="2" class="info-block"><app-profile-biography class="info-block-content"></app-profile-biography></mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="4" rowHeight="2:3" class="photo-list">
		<mat-grid-tile colspan="4">
			<app-user-photos class="info-block-content"></app-user-photos>
		</mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="1" rowHeight="12:1" class="photo-list">
		<mat-grid-tile>
			<div class="upload-img-wrapper">
				<div class="upload-btn-wrapper">
					<button mat-raised-button color="primary">Upload Photo</button>
					<input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
				</div>
			</div>
		</mat-grid-tile>
	</mat-grid-list>

</div>
<div class="container" (window:resize)="onResizez($event)" *ngIf="windowWidth <= 599" gutterSize="0px">
	<mat-grid-list cols="1" rowHeight="5:4">
		<mat-grid-tile><app-avatar-photo></app-avatar-photo></mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="1" rowHeight="1:1">
		<mat-grid-tile class="info-block"><app-short-info class="info-block-content"></app-short-info></mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="1" rowHeight="3:1">
		<mat-grid-tile class="info-block"><app-more-info class="info-block-content"></app-more-info></mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="1" rowHeight="1:1">
		<mat-grid-tile class="info-block"><app-profile-biography class="info-block-content"></app-profile-biography></mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="1" rowHeight="6:7">
		<mat-grid-tile></mat-grid-tile>
	</mat-grid-list>
</div>
