<div class="container col">
	<div class="info-row">
		<app-avatar-photo class="col s5"></app-avatar-photo>
		<app-short-info class="col s6"></app-short-info>
	</div>
	<app-more-info></app-more-info>
	<app-profile-biography></app-profile-biography>
	<div class="upload-div">
		<app-user-gallery></app-user-gallery>
		<!-- <div class="upload-img-wrapper">
			<div class="upload-img-container" [ngStyle]="{'border': imageUrl == 'assets/upload.svg' ? '5px dashed rgba(128, 128, 128, 0.1)' : 'none'}">
				<img *ngIf="imageUrl != 'assets/upload.svg'" [src]="imageUrl" class="upload-img__user-img">
				<img *ngIf="imageUrl == 'assets/upload.svg'" [src]="imageUrl" class="upload-img">
			</div>
			<div class="upload-btn-wrapper">
				<button mat-raised-button color="primary">Upload profile picture</button>
				<input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
			</div>
		</div> -->
	</div>
</div>
