<div class="row">
	<form class="col s12"
		#RegistrationForm="ngForm"
		(ngSubmit)="OnSubmit(RegistrationForm)">
		<div class="row">
			<div class="input-field col s6">
				<input matInput
				id="first_name"
				type="text"
				class="validate"
				name="firstName"
				#firstName="ngModel"
				[(ngModel)]="user.firstName">
				<mat-error *ngIf="!checkPattern('firstnamePattern', 'firstName')">
					<div>
						{{ getErrorMessage("first name", 'firstName') }}
					</div>
				</mat-error>
				<label for="first_name">First Name</label>
			</div>
			<div class="input-field col s6">
				<input matInput
				id="last_name"
				type="text"
				class="validate"
				name="lastName"
				#LastName="ngModel"
				[(ngModel)]="user.lastName">
				<mat-error *ngIf="!checkPattern('lastnamePattern', 'lastName')">
					<div>
						{{ getErrorMessage("last name", 'lastName') }}
					</div>
				</mat-error>
				<label for="last_name">Last Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input matInput
				id="disabled"
				type="text"
				class="validate"
				name="login"
				#login="ngModel"
				[(ngModel)]="user.login">
				<mat-error *ngIf="!checkPattern('loginPattern', 'login')">
					<div>
						{{ getErrorMessage("login", 'login') }}
					</div>
				</mat-error>
				<label for="disabled">Login</label>
			</div>
			<div class="input-field col s6">
				<input matInput
				id="email"
				type="text"
				class="validate"
				name="email"
				#Email="ngModel"
				[(ngModel)]="user.email">
				<mat-error *ngIf="!checkPattern('emailPattern', 'email')">
					<div>
						{{ getErrorMessage("email", 'email') }}
					</div>
				</mat-error>
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input matInput
				id="password"
				type="password"
				class="validate"
				name="password"
				#Password="ngModel"
				[(ngModel)]="user.password">
				<mat-error *ngIf="!checkPattern('passwordPattern', 'password')">
					<div>
						{{ getErrorMessage("password", 'password') }}
					</div>
				</mat-error>
				<label for="password">Password</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light"
			type="submit"
			name="action">submit
			<i class="material-icons right">send</i>
		</button>
		<mat-error *ngIf="error">
			<div>
				{{ error }}
			</div>
		</mat-error>
		<!-- <label for="password">Password</label> -->
	</form>
</div>
