<div class="row">
	<form class="col s12" #RegistrationForm="ngForm" (ngSubmit)="OnSubmit(RegistrationForm)">
		<div class="row">
			<div class="input-field col s6">
				<input matInput id="first_name" type="text" class="validate" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
				<mat-error *ngIf="!checkPattern('firstnamePattern', 'FirstName')">
					<div>
						{{ getErrorMessage("first name", 'FirstName') }}
					</div>
				</mat-error>
				<label for="first_name">First Name</label>
			</div>
			<div class="input-field col s6">
				<input matInput id="last_name" type="text" class="validate" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
				<mat-error *ngIf="!checkPattern('lastnamePattern', 'LastName')">
					<div>
						{{ getErrorMessage("last name", 'LastName') }}
					</div>
				</mat-error>
				<label for="last_name">Last Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input matInput id="disabled" type="text" class="validate" name="Login" #Login="ngModel" [(ngModel)]="user.Login">
				<mat-error *ngIf="!checkPattern('loginPattern', 'Login')">
					<div>
						{{ getErrorMessage("login", 'Login') }}
					</div>
				</mat-error>
				<label for="disabled">Login</label>
			</div>
			<div class="input-field col s6">
				<input matInput id="email" type="text" class="validate" name="Email" #Email="ngModel" [(ngModel)]="user.Email">
				<mat-error *ngIf="!checkPattern('emailPattern', 'Email')">
					<div>
						{{ getErrorMessage("email", 'Email') }}
					</div>
				</mat-error>
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input matInput id="password" type="password" class="validate" name="Password" #Password="ngModel" [(ngModel)]="user.Password">
				<mat-error *ngIf="!checkPattern('passwordPattern', 'Password')">
					<div>
						{{ getErrorMessage("password", 'Password') }}
					</div>
				</mat-error>
				<label for="password">Password</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
		<!-- <label for="password">Password</label> -->
	</form>
</div>
