<div id="box">
	<mat-radio-group class="radio-group" id="gender">
		<span>Gender</span>
		<mat-radio-button class="radio-group-button" value="1">Male</mat-radio-button>
		<mat-radio-button class="radio-group-button" value="2">Female</mat-radio-button>
		<mat-radio-button class="radio-group-button" value="3">Transgender</mat-radio-button>
	</mat-radio-group>
	<mat-radio-group class="radio-group" id="sex-pref">
		<span>Sexual preferences</span>
		<mat-radio-button class="radio-group-button" value="1">Heterosexuality</mat-radio-button>
		<mat-radio-button class="radio-group-button" value="2">Bisexuality</mat-radio-button>
		<mat-radio-button class="radio-group-button" value="3">Homosexuality</mat-radio-button>
	</mat-radio-group>
</div>
