.input-field > mat-error {
	font-size: 10px;
}
.input-field > input {
	margin-bottom: 10px;
}

.input-field > mat-error > div {
	height: 10px;
}
.row > form > mat-error > div {
	margin-top: 20px;
}

form > div {
	margin-bottom: 15px;
}
