<div class="row">
	<form class="col s12" #LoginForm="ngForm" (ngSubmit)="OnSubmit(LoginForm)">
		<div class="row">
			<div class="input-field col s12">
				<input
				matInput
				id="first_name"
				type="text"
				class="validate"
				name="login"
				#Login="ngModel"
				[(ngModel)]="this.authorizationService.user.login">
				<mat-error *ngIf="!this.authorizationService.checkPattern('loginPattern', 'login')">
					<div>
						{{ this.authorizationService.getErrorMessage("login", 'login') }}
					</div>
				</mat-error>
				<label for="first_name">Login</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password"
				type="password"
				class="validate"
				name="password"
				#Password="ngModel"
				[(ngModel)]="this.authorizationService.user.password">
				<mat-error *ngIf="!this.authorizationService.checkPattern('passwordPattern', 'password')">
					<div>
						{{ this.authorizationService.getErrorMessage("password", 'password') }}
					</div>
				</mat-error>
				<label for="password">Password</label>
			</div>
		</div>
		<div id="buttons">
			<button class="btn waves-effect waves-light"
				type="submit"
				name="Submit">Login
				<i class="material-icons right">send</i>
			</button>
			<button class="btn waves-effect waves-light"
				type="button"
				name="forgot"
				routerLink="/home/forgot-pass"> Forgot password
				<i class="material-icons right">help_outline</i>
			</button>
		</div>
		<mat-error *ngIf="error">
			<div>
				{{ error }}
			</div>
		</mat-error>
	</form>
</div>
