#buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.input-field > input {
	margin-bottom: 0;
}

.input-field > mat-error {
	font-size: 10px;
}

#buttons > button:first-child {
	margin-bottom: 20px;
}

.row {
	background-color: white;
}

.btn {
	margin-bottom: 5px;
}
