mat-grid-tile {
  background: teal;
}

#chips-container {
	/* height: 100%; */
	/* width: 100%; */
	background-color: brown;
}


.demo-chip-list {
  width: 100%;
}

input:not([type]) {
	border-bottom: none;
	height: 15px;
	margin: 0;
}
input:not([type]):focus:not([readonly]) {
	border-bottom: none;
	box-shadow: none;
}
