#index-page {
	background-image: url("http://localhost:8100/assets/dating.jpg");

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-container {
	background: rgb(255, 255, 255, 0.8);
	padding: 42px;
}
.sidenav {
	width: 50vw;
}
.sidenav__button {
	width: 100%;
	font-size: 20px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
