<div class="user-info-field">
	<mat-icon class="user-info-field__mat-icon"><i class="fas fa-user"></i></mat-icon>
	<div class="input-field">
		<input matInput
		placeholder="Password"
		type="password"
		name="email"
		[(ngModel)]="this.authorizationService.user.password">
		<mat-error *ngIf="!this.authorizationService.checkPattern('passwordPattern', 'password')">
			<div class="error-div">
				&nbsp;{{ this.authorizationService.getErrorMessage("password", 'password') }}
			</div>
		</mat-error>
	</div>
	<button mat-icon-button (click)="saveChanges(this.authorizationService.user.password, 'password')">
		<mat-icon><i class="fas fa-check"></i></mat-icon>
	</button>
</div>
